/* small tablet to big tablet: from 768 to 1023 */
@media only screen and (max-width: 1039px) {
    body { font-size: 18px;}
    .main-nav {  font-size: 100%;}

.header { }
  .about-me-p{max-width: 350px;margin: 0 auto;
    }
    .education{max-width: 350px; margin: 0 auto;}
    .bar-progress{max-width: 350px; margin: 0 auto;}
      
    
    @media only screen and (max-width: 903px) {
        .first-button { margin-right:116px;}
    }
/* small phones to small tablets: from 481px to 767px*/
@media only screen and (max-width: 767px) {
    body { font-size: 16px;}
    section { padding: 30px 0; }
    
    .row,
    .hero-text-box { padding: 0 4%; }
    .col { 
        width: 100%;
        margin: 0 0 4% 0;
    }
    .main-nav { display: none; } 
    .mobile-nav-icon {display: inline-block; position: static;}
    
    .main-nav{ 
        float: left;
        margin-top: 35px;
        margin-left: 25px;
    }
    
    .main-nav li {
        display: block;
        padding-bottom: 0px;
        margin-bottom: 0px;
    }
    
    .main-nav li a:link,
    .main-nav li a:visited {
        display: block;
        border: 0;
        padding: 10px 0;
        font-size: 100%;
    }
    
    .sticky .main-nav { margin-top: 10px; }
    .sticky .main-nav li a:link,
    .sticky .main-nav li a:visited { padding: 10px 0; }
    .sticky .mobile-nav-icon  { margin-top: 10px; }
    .sticky .mobile-nav-icon i { color: #555; }
    
    
    h1 { font-size: 180%;}
    h2 { font-size: 150%;}
    
    header{ height: 840px;}
    .column { min-width: 50%;}
    
    .hobbies {
    background: #c3c3c3;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;}
    
    .contact h3 {width: 400px;}
    .con {margin: 0 auto; padding-bottom: 25px;}
    
    #links { margin: 0 auto;}
    
    .containe {margin: 0 auto;
               font-size: 70%;
                margin-left: 25px;
                margin-top: 20px;
    }
    
    footer p { margin: 0 auto;
                margin-top: 35px;}
    #arrow { margin:0;
    margin-top: 27px}
    }

    .profession { font-size: 80%}
    .title{font-size: 150%;}
    .profile-photo {margin-top: 70px;}
 
    .containe {max-width: 350px;
       display: flex;
        margin: 0 auto;
    }
    
    .about-me-p {max-width: 350px;margin: 0 auto;}
    .education {max-width: 350px; margin: 0 auto;}
    .bar-progress {max-width: 350px; margin: 0 auto;}
    
    
/* small phones:from 0 to 480px;*/
@media only screen and (max-width: 480px) {
    section { padding: 25px 0;}
}
